<html>
  <head>
    <title>Pöytäkirja</title>
    <meta http-equiv='Content-Type' content='text/html; charset=utf-8'>
  </head>

  <body>
    <a href="https://www.eduskunta.fi/FI/Vaski/sivut/trip.aspx?triptype=ValtiopaivaAsiakirjat&docid=ptk+71/2008" target="_blank" rel="noopener noreferrer">Eduskunnan alkuperäinen pöytäkirja</a> (Pöytäkirja avautuu uudessa välilehdessä.)
  </body>
  
